<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DataServiceEndpoint" />
        <binding name="DataServiceEndpoint2" />
        <binding name="BasicHttpEndpointBinding" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
          <security mode="None" />
        </binding>
        <binding name="BasicAnonymHttpEndpointBinding">
          <security mode="None" />
        </binding>
        <binding name="DataServiceEndpoint1" />
        <binding name="UserServiceEndpoint" />
        <binding name="DataServiceEndpoint3" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://193.232.254.196:6058/SchedulerHost/Services/DataService.svc"
        binding="basicHttpBinding" bindingConfiguration="DataServiceEndpoint1"
        contract="PublishedDataService.IDataService" name="DataServiceEndpoint" />
      <endpoint address="http://193.232.254.196:6058/SchedulerHost/Services/UserService.svc"
        binding="basicHttpBinding" bindingConfiguration="UserServiceEndpoint"
        contract="PublishedUserService.IUserService" name="UserServiceEndpoint" />
      <endpoint address="http://localhost:18822/Services/DataService.svc"
        binding="basicHttpBinding" bindingConfiguration="DataServiceEndpoint3"
        contract="LocalDataService.IDataService" name="DataServiceEndpoint1" />
    </client>
  </system.serviceModel>
</configuration>